h1 {
    color: orange;
    text-align: center;
}

div {
    text-align: center;
    margin-top: 15px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

body {
    background: skyblue;
}

#form2 {
    margin-top: 10px;
}

#form3 {
    margin-top: 10px;
}

#form4 {
    margin-top: 10px;
}

#Property1 {
    margin-top: 10px;
}
#Property2 {
    margin-top: 10px;
    margin-left: 125px;
}
#Property3 {
    margin-top: 10px;
    margin-left: 125px;
}
#property1 {
    margin-top: 10px;
}
#property2 {
    margin-top: 10px;
    margin-left: 125px;
}
#property3 {
    margin-top: 10px;
    margin-left: 125px;
}
#Value1 {
    margin-top: 10px;
    margin-left: 15px;
}
#Value2 {
    margin-top: 10px;
    margin-left: 125px;
}
#Value3 {
    margin-top: 10px;
    margin-left: 125px;
}
#value1 {
    margin-top: 10px;
    margin-left: 15px;
}
#value2 {
    margin-top: 10px;
    margin-left: 125px;
}
#value3 {
    margin-top: 10px;
    margin-left: 125px;
}