h1 {
    color: orange;
    text-align: center;
}

div {
    text-align: center;
    margin-top: 15px;
    color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

body {
    background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRfTAE3muHNzO-e2UrKYYSkbAVRekGRyx8JDHsaytXn1ffGfufL");
    background-size: cover;
}

.sub {
    margin-left: 120px;
    text-align: center;
}

#number {
    margin-top: 15px;
}

#start {
    margin-top: 15px;
}